	<footer class="main-footer row no-gutters" itemscope itemtype="http://schema.org/Organization">
		<meta itemprop="name" content="{{ site.company_name }}" />
		<div class="col-12 col-lg-4">
			<div class="footer-title font-courgette">
				Social
			</div>
			{% for platform in site.social_media %}<div class="footer-item" title="{{ platform[1].title }}">
				<a itemprop="sameAs" href="{{ platform[1].url }}" target="_blank">
					<div class="icon"><i class="{{ platform[1].icon_class }}"></i></div>
					<div class="text">{{ platform[1].handle }}</div>
				</a>
			</div>{% endfor %}
		</div>
		<div class="col-12 col-lg-4">
			<div class="footer-title font-courgette">
				Contact Us
			</div>
			<div class="footer-item">
				<a itemprop="telephone" content="{{ company_phone }}" href="tel:{{ company_phone }}">
					<div class="icon"><i class="fas fa-phone fa-fw"></i></div>
					<div class="text">
						{{ site.company_phone_pretty }}
					</div>
				</a>
			</div>
			<div class="footer-item">
				<a href="/#">
				<div class="icon"><i class="fas fa-envelope fa-fw"></i></div>
				<div itemprop="email" class="text">{{ site.company_email }}</div>
				</a>
			</div>
			<div class="footer-item" itemprop="address" >
				<a href="https://www.google.com/maps/search/?api=1&query={{ site.company_address.street }} {{ site.company_address.locality }} {{ site.company_address.region }} {{ site.company_address.postal_code }}"  target="_blank">
					<div class="icon"><i class="fas fa-map fa-fw"></i></div>
					<div class="text">
						<span itemprop="streetAddress">{{ site.company_address.street }}</span><br/>
						<span itemprop="addressLocality">{{ site.company_address.locality }}</span>, <span itemprop="addressRegion">{{ site.company_address.region }}</span> <span itemprop="postalCode">{{ site.company_address.postal_code }}</span><br/>
					</div>
				</a>
			</div>
		</div>
		<div class="col-12 col-lg-4">
			<div class="footer-title font-courgette">
				Site
			</div>
			<div class="footer-item" title="title">
				<a href="/#">
					<div class="icon"></div>
					<div class="text">LINK</div>
				</a>
			</div>
			<div class="footer-item" title="title">
				<a href="/#">
					<div class="icon"></div>
					<div class="text">LINK</div>
				</a>
			</div>
			<div class="footer-item" title="title">
				<a href="/#">
					<div class="icon"></div>
					<div class="text">LINK</div>
				</a>
			</div>
			<div class="footer-item" title="title">
				<a href="/#">
					<div class="icon"></div>
					<div class="text">LINK</div>
				</a>
			</div>
		</div>
	</footer>
	{% assign js = '' | split: '' %}{% for script in site.bootstrap_includes.js %}{% assign js = js | push: script %}{% endfor %}{% for script in site.fontawesome_includes.js %}{% assign js = js | push: script %}{% endfor %}{% assign css = '' | split: '' %}{% for script in site.bootstrap_includes.css %}{% assign css = css | push: script %}{% endfor %}
	{% for include in js %}{{ include.tag }}
	{% endfor %}
	{% for include in css %}{{ include.tag }}
	{% endfor %}

</body>
</html>