<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="msapplication-TileColor" content="#002d41">
	<meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#002d41">
	<meta name="description" content="<?=$excerpt;?>">
	<meta name="twitter:card" content="summary_large_image" >
	{% if site.social_media contains 'twitter' %}<meta name="twitter:site" content="{{ site.social_media.twitter.handle}}" >{% endif %}
	<meta name="twitter:title" content="{{ page.title }}" >
	<meta name="twitter:description" content="{{ page.description }}" >
	<meta name="twitter:image" content="{{ page.thumbnail }}" >
	<meta property="og:title" content="{{ page.title }}" >
	<meta property="og:type" content="website" >
	<meta property="og:url" content="{{ page.url }}" >
	<meta property="og:description" content="{{ page.description }}" >
	<meta property="og:site_name" content="{{ site.name }}" >
	<meta property="og:image" content="{{ page.thumbnail }}" >
	<meta property="og:image:url" content="{{ page.thumbnail }}" >
	<meta itemprop="name" content="{{ site.name }}">
	<meta name="google-site-verification" content="{{ site.verification.google_webmaster }}">
	<meta name="msvalidate.01" content="{{ site.verification.bing_webmaster }}">
	<title>{{ page.title }}</title>
	<link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ page.title }}" href="{{ site.rss.rss2.url }}">
	<link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ page.title }}" href="{{ site.rss.atom.url }}">
	<link href="https://fonts.googleapis.com/css?family={{ site.google_fonts | join: '|' | replace: ' ', '+'}}" rel="stylesheet">
	<link rel="stylesheet" href="/style.css" >
</head>
<body>
