// Bootstrap 4 Breakpoints
// No XSmall is needed as it is the default

// Small. Above 576px
@mixin sm {
	@media screen and (min-width: 576px) {
		@content;
	}
}

// Medium. Above 768px
@mixin md {
	@media screen and (min-width: 768px) {
		@content
	}
}

// Large. Above 992px
@mixin lg {
	@media screen and (min-width: 992px) {
		@content;
	}
}

// Extra large. Above 1200px
@mixin xl {
	@media screen and (min-width: 1200px) {
		@content;
	}
}


// Colors
$colorMain: #55AAFF;

// Buttons
.btn,button {
	border-radius: 6px;
	border:solid darken($colorMain, 5%) 2px;
	background-color: darken($colorMain, 10%);
	text-shadow: 1px 1px 0px rgba(51,51,51,0.33);
	color:#333;

	&:active, &:visited, &:hover{
		color:#333;
	}

	&:hover{
		border-color: $colorMain;
		box-shadow:0px 0px 4px rgba(51,51,51,0.3);
		background-color: darken($colorMain, 5%);

	}

	&:active{
		box-shadow:inset 0px 0px 6px rgba(51,51,51,0.3);
	}
}

// Responsive Debugging
// Uncomment the code below to place a small text box
// in the top left corner of the page that shows the
// size of the current viewport
/*
body::before {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  background-color: #000;
  content: "xs";
  font-family: monospace;
  color: #fff;
}
@include sm { body::before { content: "sm"; }}
@include md { body::before { content: "md"; }}
@include lg { body::before { content: "lg"; }}
@include xl { body::before { content: "xl"; }}
*/
